.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

